.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid black;
}

section {
    min-height: 700px;
}

.portfolio {
    background-color: #eee;
}