html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 40px;
}

.jumbotron {
    height: 450px;
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    color: #eee;
    overflow: hidden;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
    width: 250px;
    border-top: 3px solid black;
}

section {
    min-height: 700px;
}

.portfolio {
    background-color: #eee;
}

.pKiri .pKanan {
    opacity: 0;
    transform: translate(-50px, 0) rotate(15deg);
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0) rotate(-15deg);
}

.pKiri.pMuncul,
.pKanan.pMuncul {
    opacity: 1;
    transform: translate(0, 0);
}

/* .portfolio .thumbnail {
    opacity: 0;
    transform: translate(0, -40px);
    transition: .5s;
}

.portfolio .thumbnail.muncul {
    opacity: 1;
    transform: translate(0, 0);
} */

.contact {
    min-height: 750px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: white;
    font-size: 1em;
}

footer p i {
    color: salmon;
}

footer a {
    color: white;
}