html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #666;
}

hr {
    width: 250px;
    border-top: 3px solid black;
}

section {
    min-height: 700px;
}

.portfolio {
    background-color: #eee;
}

.contact {
    min-height: 750px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: white;
    font-size: 1em;
}

footer p i {
    color: salmon;
}